.wrapper {
    width: 100%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #1B1C1E;
    margin: 0 auto;
}

header {
    width: 100%;
    border-bottom: 1px solid #FFF;
    min-height: 65px;
    height: 14vh;
    align-items: center;
    display: flex;
}

header > .wrapper {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.header-left-columns {
    display: flex;
    width: 410px;
    justify-content: space-between;
}

.header-right-columns {
    display: flex;
    width: 410px;
    justify-content: space-between;
}

header .wrapper h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
}

.content {
    border-bottom: 1px solid #fff;
    display: flex;
}

.content .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.left-columns {
    display: flex;
    flex-direction: column;
    min-height: 470px;
    height: 75vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 15px;
}

.right-columns {
    display: flex;
    flex-direction: column;
    min-height: 470px;
    height: 75vh;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 15px;
}

.column {
    width: 400px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.left-box {
    width: 170px;
    height: 65px;
    background-color: #fff;
    border-radius: 7.4px;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 30px;
    height: 25px;
    background-image: url('./img/Arrow\ Left.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.right-box {
    width: 90px;
    height: 65px;
    border-radius: 7.4px;
    background-color: #fff;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-blue {
    color: #194099;
}

.text-red {
    color: #DA0C0C;
}

footer {
    height: auto;
}

footer > .wrapper {
    min-height: 60px;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .wrapper p {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

@media (min-width: 1900px) {
    .wrapper {
        width: 1860px;
    }
    
    body {

        width: 1920px;
        height: 1080px;
    }
    
    header {
        width: 100%;
        height: 130px;
    }
    

    
    .header-left-columns {
        width: 600px;

    }
    
    .header-right-columns {

        width: 600px;

    }
    
    header .wrapper h1 {

        font-size: 50px;
        line-height: 61px;
    }
    
    
    .left-columns {
        height: 880px;
    }
    
    .right-columns {
        height: 880px;
    }
    
    .column {
        width: 624px;
        height: 140px;
    }
    
    .left-box {
        width: 290px;
        height: 140px;
        font-size: 90px;
    }
    
    .arrow {
        width: 68px;
        height: 48px;
    }
    
    .right-box {
        width: 168px;
        height: 140px;
        font-size: 90px;

    }
    
    footer > .wrapper {
        height: 100px;
    }
    
    footer .wrapper p {
        font-size: 40px;
    }
}
