*, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #1B1C1E;
}


.main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative; 
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

header {
    width: 100%;
    border-bottom: 1px solid #FFF;
}

header > .wrapper {
    color: #fff;
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    height: 14vh;
    align-items: center;
}

header .header-left-columns {
    display: flex;
    flex: 0 0 400px;
    justify-content: space-between;
}

header .header-right-columns {
    display: flex;
    width: 620px;
    justify-content: space-between;
}

header .wrapper h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
}

.content {
    border-bottom: 1px solid #fff;
}

.content .wrapper {
    display: flex;
    justify-content: space-between;
}

.content .left-columns {
    display: inline-flex;
    flex-direction: column;
    min-height: 470px;
    height: 75vh;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: flex-start;
    align-items: flex-start;

}

.content .right-columns {
    display: inline-flex;
    flex-direction: column;
    height: 470px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: flex-start;
    align-items: flex-start; 
}

.content .column {
    width: 400px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.content .left-box {
    width: 170px;
    height: 65px;
    background-color: #fff;
    border-radius: 7.4px;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .arrow {
    width: 30px;
    height: 25px;
    background-image: url('./img/Arrow\ Left.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.content .right-box {
    width: 90px;
    height: 65px;
    border-radius: 7.4px;
    background-color: #fff;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-blue {
    color: #194099;
}

.text-red {
    color: #DA0C0C;
}

.content .promo-window {
    width: 740px;
    height: 450px;
    border-radius: 20px;

    background-image: url('./img/Rectangle\ 40.png');
    background-repeat: no-repeat;
    background-position: center;
}

footer > .wrapper {
    min-height: 60px;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .wrapper p {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}


.animate-block .column {
    position: absolute;
    width: 360px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DA0C0C;
}

.vid {
    width: 100%;
    height: 100%; 
    object-fit: contain;
    border-radius: 6px;
}

.animate-block {
    width: 380px;
    height: 85px;
    background-color: #DA0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 38%;
    transform: scale(0);
    padding: 10px;
    border-radius: 6px;
}

.zoom {
    animation-duration: 5s;
    animation-name: zoomer;

}

@keyframes zoomer {
    from {
        transform: scale(0);
        top: 38%;
        left: 38%;
    }
    20% {
        transform: scale(1.2);
        top: 38%;
        left: 38%;
    }
    50% {
        transform: scale(1);
        top: 38%;
        left: 38%;
    }
    60% {
        transform: scale(1.2);
        top: 38%;
        left: 38%;
    }
    70% {
        transform: scale(1);
        top: 38%;
        left: 38%;
    }
    80% {
        transform: scale(1.2);
        top: 38%;
        left: 38%;
    }
    to {
        transform: scale(0);
        top: 10%;
        left: 0;
    }
}

.animate-block .arrow {
    width: 30px;
    height: 25px;
    background-image: url('./img/Arrow\ Left.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #DA0C0C;
}

.animate-block .right-box {
    width: 90px;
    height: 65px;
    border-radius: 7.4px;
    background-color: #fff;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-block .text-blue {
    color: #194099;
}

.animate-block .text-red {
    color: #DA0C0C;
}

.animate-block .left-box {
    width: 170px;
    height: 65px;
    background-color: #fff;
    border-radius: 7.4px;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1920px) {
    .main {
        width: 1920px;
        height: 1080px;
    }

    .wrapper {
        width: 1860px;
    }

    header .header-left-columns {
        width: 500px;
    }

    header .header-right-columns {
        width: 620px;
    }

    header .header-right-columns {
        width: 620px;
    }

    .content .right-columns {
        height: 880px;
    }

    .content .left-columns {
        height: 880px;
    }
    
    .content .right-columns {
        height: 880px;
    }

    
    .content .column {
        width: 624px;
        height: 140px;
        margin-bottom: 30px;
    }

    .content .left-box {
        width: 290px;
        height: 140px;
        border-radius: 7.4px;
        font-size: 90px;

    }

    .content .arrow {
        width: 68px;
        height: 48px;
    }

    .content .right-box {
        width: 168px;
        height: 140px;
        border-radius: 7.4px;

        font-size: 90px;
        font-weight: 800;

    }

    .content .promo-window {
        width: 1110px;
        height: 600px;
        border-radius: 20px;

    }

    footer > .wrapper {
        height: 100px;
        width: 100%;

    }

    footer .wrapper p {
        font-size: 40px;

    }

    
.animate-block {
    width: 624px;
    height: 190px;
    background-color: #DA0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 32%;
    transform: scale(0);
    padding: 10px;
    border-radius: 6px;
}

.zoom {
    animation-duration: 5s;
    animation-name: zoomer;

}

@keyframes zoomer {
    from {
        transform: scale(0);
        top: 40%;
        left: 32%;
    }
    20% {
        transform: scale(1.2);
        top: 40%;
        left: 32%;
    }
    50% {
        transform: scale(1);
        top: 40%;
        left: 32%;
    }
    60% {
        transform: scale(1.2);
        top: 40%;
        left: 32%;
    }
    70% {
        transform: scale(1);
        top: 40%;
        left: 32%;
    }
    80% {
        transform: scale(1.2);
        top: 40%;
        left: 32%;
    }
    to {
        transform: scale(0);
        top: 10%;
        left: 0;
    }
}

    .animate-block .arrow {
        width: 68px;
        height: 48px;
        background-image: url('./img/Arrow\ Left.png');
        background-repeat: no-repeat;

    }

    .animate-block .right-box {
        width: 168px;
        height: 140px;
        border-radius: 7.4px;
        background-color: #fff;
        font-size: 90px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animate-block .text-blue {
        color: #194099;
    }

    .animate-block .text-red {
        color: #DA0C0C;
    }

    .animate-block .column {
        position: absolute;
        width: 570px;
        height: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #DA0C0C;
    }

    .animate-block .left-box {
        width: 290px;
        height: 140px;
        background-color: #fff;
        border-radius: 7.4px;
        font-size: 90px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1550px) {
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 1250px) and (min-width: 900px) {
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }

    .content .left-box {
        font-size: 30px;
        width: 130px;
        height: 50px;
    }

    .content .arrow {
        width: 25px;
        height: 20px;
    }

    .content .right-box {
        font-size: 30px;
        height: 50px;
        width: 80px;

    }

    .content .promo-window {
        width: 50vw;
        height: 60vh;
    }

    .content .column {
        width: 380px;
        margin-bottom: 25px;
    }

    .content .left-columns {
        min-height: 450px;

    }

    .content .right-columns {
        height: 450px;
    }

    footer .wrapper p {
        font-size: 20px;
    }

    header .wrapper h1 {
        font-size: 30px;
    }

    header .header-left-columns {
        flex: 0 0 380px;
    }

    .animate-block {
        left: 30%;
    }

    @keyframes zoomer {
        from {
            transform: scale(0);
            top: 38%;
            left: 30%;
        }
        20% {
            transform: scale(1.2);
            top: 38%;
            left: 30%;
        }
        50% {
            transform: scale(1);
            top: 38%;
            left: 30%;
        }
        60% {
            transform: scale(1.2);
            top: 38%;
            left: 30%;
        }
        70% {
            transform: scale(1);
            top: 38%;
            left: 30%;
        }
        80% {
            transform: scale(1.2);
            top: 38%;
            left: 30%;
        }
        to {
            transform: scale(0);
            top: 10%;
            left: 0;
        }
}